.me {
    .me-icon {
      padding: 50px;
        img{
          // width:30vh;
          height:auto;
          // border-radius:50%;
          filter:  grayscale(50%);
          transition: all 0.4s ease-in-out;
          // visibility:hidden;
          &:hover{
            filter: blur(0px);
          }
        }
    }
    .me-about {
      font: normal 22px "Slabo 27px";
      color: #444;
      text-align: center;
      /* width: 600px; */
      padding: 0 20px;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img{
        background: red;
      }
      h1{
        line-height: 40px;
        color:#e80858;
        display: inline-block;
        span{
          font-size:110%;
          padding:5px;
          color:#333;
          line-height: 40px;
        }
      }
      .renderer{
        line-height:40px;
      }
    }
    .social-links{
      a{
        color: var(--link-color);
        &:hover {
          color: var(--link-hover-color);
        }
      }
    }


}